[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-ia/aws-ia-documentation-base-common.git
[submodule "lambda-copyzips"]
	path = lambda-copyzips
	url = git@github.com:aws-ia/lambda-copyzips.git
